<template>
    <q-card>
      <q-card-section>
        <div class="text-h5">Confirmação de Exclusão</div>
        <p>Tem certeza de que deseja excluir este produto?</p>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn color="primary" label="Cancelar" @click="cancelDeletion" />
        <q-btn color="negative" label="Excluir" @click="confirmDeletion" />
      </q-card-actions>
    </q-card>
  </template>
  
  <script>
  export default {
    methods: {
      cancelDeletion() {
        this.$emit('cancel-deletion');
      },
      confirmDeletion() {
        this.$emit('confirm-deletion');
      },
    },
  };
  </script>
  
  <style scoped>
  .q-card {
    max-width: 400px;
    margin: 0 auto;
  }
  </style>
  