<template>
  <q-card class="edit-product-card">
    <q-card-section>
      <div class="text-h4">{{ cardTitle }}</div>
      <q-input
        v-model="product.name"
        label="Nome"
        :error="hasError('name')"
        :errorMessage="getError('name')"
      />
      <q-input
        v-model="product.description"
        label="Descrição"
        :error="hasError('description')"
        :errorMessage="getError('description')"
      />
      <q-select
        v-model="product.voltage"
        label="Voltagem"
        :options="voltageOptions"
        :error="hasError('voltage')"
        :errorMessage="getError('voltage')"
      />
      <q-select
        v-model="product.brand_id"
        label="Marca"
        :options="brandOptions"
        option-label="name"
        option-value="id"
        emit-value
        map-options
        :loading="isLoading"
        :error="hasError('brand_id')"
        :errorMessage="getError('brand_id')"
      />
    </q-card-section>
    <q-card-actions align="right">
      <q-btn
        v-if="!product.id"
        color="primary"
        label="Adicionar"
        @click="saveProduct"
      ></q-btn>
      <q-btn v-else color="primary" label="Salvar" @click="saveProduct"></q-btn>
      <q-btn
        color="primary"
        label="Cancelar"
        @click="cancelEditProduct"
      ></q-btn>
    </q-card-actions>
  </q-card>
</template>

<script>
import brandsApi from "../api/brands";

export default {
  props: {
    editedProduct: {
      type: Object,
      required: true,
    },
    errors: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      product: {
        id: null,
        name: "",
        description: "",
        voltage: "",
        brand_id: "",
      },
      brandOptions: [],
      voltageOptions: ["110", "220"],
      isLoading: false,
    };
  },
  mounted() {
    this.product = {
      ...this.editedProduct,
    };
    this.fetchBrands();
  },
  computed: {
    cardTitle() {
      return this.product.id ? "Editar produto" : "Adicionar Produto";
    },
  },
  methods: {
    fetchBrands() {
      this.isLoading = true; // Set loading state
      brandsApi
        .getBrands()
        .then((response) => {
          this.brandOptions = response.data;
        })
        .catch((error) => {
          console.error("Erro ao obter as Marcas:", error);
        })  
        .finally(() => {
          this.isLoading = false;
        });
    },
    saveProduct() {
      this.$emit("save-product", this.product);
    },
    cancelEditProduct() {
      this.$emit("cancel-edit-product", null);
    },
    getError(field) {
      if (this.hasError(field)) {
        return this.errors[field][0];
      }
      return null;
    },
    hasError(field) {
      return (
        this.errors && this.errors[field] && this.errors[field][0] !== undefined
      );
    },
  },
};
</script>

<style scoped>
.edit-product-card {
  width: 80vw !important;
  max-width: 600px;
}
</style>
