<template>
  <q-card>
    <q-card-section>
      <span class="text-h4 q-ml-sm">Lista de Produtos</span>
      <q-btn
        v-if="!loading"
        class="float-right"
        @click="addProduct"
        color="primary"
        label="Adicionar Produto"
      ></q-btn>
    </q-card-section>
    <q-card-section v-if="loading">
      <div class="loading-overlay row justify-center">
        <q-spinner-cube color="primary" size="5.5em" />
      </div>
    </q-card-section>
    <q-card-section v-else>
      <q-table
        :rows="rows"
        :columns="columns"
        row-key="id"
        :pagination="{ rowsPerPage: 10 }"
        :rows-per-page-options="[10, 20, 30]"
      >
        <template v-slot:body-cell-actions="props">
          <td class="text-center">
            <q-btn
              dense
              flat
              icon="edit"
              class="q-ml-sm"
              @click="editProduct(props.row)"
            ></q-btn>
            <q-btn
              dense
              flat
              icon="delete"
              class="q-ml-sm"
              @click="deleteProduct(props.row.id)"
            ></q-btn>
          </td>
        </template>
      </q-table>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  props: {
    rows: {
      type: Array,
      required: true,
    },
    columns: {
      type: Array,
      required: true,
    },
    loading: {
      type: Boolean,
      required: true,
    },
  },
  methods: {
    addProduct() {
      this.$emit("add-product", null);
    },
    editProduct(product) {
      this.$emit("edit-product", product);
    },
    deleteProduct(id) {
      this.$emit("delete-product", id);
    },
  },
};
</script>

<style scoped>
.q-card {
  max-width: 90vw;
  margin: 0 auto;
}

.q-card-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
</style>
