<template>
  <q-layout view="lhh Lpr lFf">
    <q-toolbar class="bg-white">
      <div
        class="row items-center full-width"
        @click="this.$router.replace('/')"
      >
        <img
          class="q-ml-sm"
          src="../assets/logo-plan.png"
          alt=""
          width="80"
          style="cursor: pointer"
        />
        <div class="text-h3">Grupo Plan Marketing</div>
        <q-space />
        <q-btn
          @click="logout"
          flat
          round
          dense
          icon="las la-sign-out-alt"
          class="text-primary"
          size="xl"
        />
      </div>
    </q-toolbar>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import Auth from "../api/auth.js";

export default {
  name: "MainLayout",
  methods: {
    logout() {
      this.loading = true;
      Auth.logout().finally((result) => {
        localStorage.clear();
        this.$router.go();
      });
    },
  },
};
</script>
