<template>
  <q-page>
    <product-table
      :rows="products"
      :columns="columns"
      :loading="isLoading"
      @add-product="openEditProductModal"
      @edit-product="openEditProductModal"
      @delete-product="openDeleteProductConfirmation"
    ></product-table>

    <q-dialog v-model="showEditProductModal">
      <product-card
        :edited-product="editedProduct"
        :errors="errorMessages"
        @save-product="saveProduct"
        @cancel-edit-product="cancelEditProduct"
      ></product-card>
    </q-dialog>

    <q-dialog v-model="showDeleteProductConfirmation">
      <confirm-delete-card
        @cancel-deletion="cancelDeleteProductConfirmation"
        @confirm-deletion="deleteProduct"
      ></confirm-delete-card>
    </q-dialog>
  </q-page>
</template>

<script>
import ProductTable from "../components/ProductTable.vue";
import ProductCard from "../components/ProductCard.vue";
import ConfirmDeleteCard from "../components/ConfirmDeleteCard.vue";
import productsApi from "../api/products";
import columns from "../data/columns_products";

export default {
  components: {
    ProductTable,
    ProductCard,
    ConfirmDeleteCard,
  },
  data() {
    return {
      showEditProductModal: false,
      showDeleteProductConfirmation: false,
      editedProduct: {
        id: null,
        name: "",
        description: "",
        voltage: "",
        brand_id: "",
      },
      isLoading: true,
      products: [],
      columns: columns,
      errorMessages: {},
    };
  },
  mounted() {
    this.fetchProducts();
  },
  methods: {
    fetchProducts() {
      productsApi
        .getProducts()
        .then((response) => {
          this.products = response.data;
        })
        .catch((error) => {
          console.error("Erro ao obter os produtos:", error);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    openEditProductModal(product) {
      if (product) {
        this.editedProduct = { ...product };
      } else {
        this.cleanProduct();
      }
      this.errorMessages = {};
      this.showEditProductModal = true;
    },
    saveProduct(product) {
      if (product.id) {
        productsApi
          .updateProduct(product.id, product)
          .then(() => {
            this.isLoading = true;
            this.fetchProducts();
            this.cancelEditProduct();
          })
          .catch((error) => {
            console.error("Erro ao atualizar o produto:", error);
            this.getErrors(error);
          });
      } else {
        productsApi
          .createProduct(product)
          .then(() => {
            this.isLoading = true;
            this.fetchProducts();
            this.cancelEditProduct();
          })
          .catch((error) => {
            console.error("Erro ao adicionar o produto:", error);
            this.getErrors(error);
          });
      }
    },
    deleteProduct() {
      productsApi
        .deleteProduct(this.editedProduct.id)
        .then(() => {
          this.fetchProducts();
          this.cancelDeleteProductConfirmation();
        })
        .catch((error) => {
          console.error("Erro ao excluir o produto:", error);
        });
    },
    cancelEditProduct() {
      this.showEditProductModal = false;
      this.cleanProduct();
      this.errorMessages = {};
    },
    openDeleteProductConfirmation(id) {
      this.editedProduct.id = id;
      this.showDeleteProductConfirmation = true;
    },
    cancelDeleteProductConfirmation() {
      this.editedProduct.id = null;
      this.showDeleteProductConfirmation = false;
    },
    cleanProduct() {
      this.editedProduct = {
        id: null,
        name: "",
        description: "",
        voltage: "",
        brand_id: "",
      };
    },
    getErrors(error) {
      if (error.response && error.response.data && error.response.data.errors) {
        this.errorMessages = error.response.data.errors;
      }
    },
  },
};
</script>

<style scoped>
.q-page {
  padding: 20px;
}
</style>
